---
layout: base.njk
title: "Home"
description: "Homepage of Trade Excellence, a global non-profit organization that strives to achieve excellence in the realm of export controls and global trade."
navTransparent: true
---
{% block content %}
<!-- Homepage content will be filled from Webflow export -->
<p>Homepage placeholder</p>
{% endblock %}
